body {
    margin: 0;
    padding: 0;
    background-color: lightcyan;
    font-family: 'Source Sans Pro',
        sans-serif 80px;
    display: grid;
}

header {
    text-align: center;
}

p {
    text-align: justify;
}

#description,
#example,
#test {
    justify-self: center;
}

#fieldset {
    border: 10px;
    border-color: black;
}

#example {
    justify-self: center;
}

#example button {
    height: 50px;
    width: 150px;
    justify-self: center;
}